.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
private/
Templates/
templates/
FleetingNotesApp/
LYT Kit/
Meetings/
Old Blog Posts/
PKM LM/
Tasks/
To read/
Resources/
Secret Sales Help Centre/
smart-chats/
Daily Notes/
.obsidian/
